/* Background of entire page */

body{
    background-color: rgb(242, 243, 254);
}

/* Coloring navigation links */

nav{
    background-color: rgb(11, 11, 49);
    height: 37px;
    width: 100%;
}

a{
    color: rgb(169, 169, 169);
    text-decoration: none;
}

/* Positioning navigation links */

.navlink1 {
    display: flex;
    font-size: 14px;
    font-weight: 150;
    padding-left: 87px;

    :hover{
    text-decoration: underline;
   }
}

.navlink2 {
    list-style: none;
    display: flex;
    justify-content: end;
    padding-right: 100px;
    margin-top: -25px;
    font-size: 14px;
    font-weight: 150;
    
    :hover{
        text-decoration: underline;  
    }
}

.image1{
    padding: 50px 0px 0px 75px;
    width: 50%;
}

.navlink3{
    list-style: none;
    text-align: end;
    padding-right: 100px;
    margin-top: -35px;

    :hover{
        text-decoration: underline;
    }
}

.navlink3 li {
    display: inline;
    background-color: rgb(11, 11, 49);
    padding: 10px 18px 10px 18px;
    font-size: 15px;
}

.navlink3 a{
    color: white;
}

/* Positioning of main image */

.image2 > img{
    padding: 195px 72px 0px 72px;
    width: 90%;
}

.bullets{
    display: inline-block;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 45px;
    height: 45px; 
}

.classBullets{
    text-align: center;
}

/* Positioning and coloring of main content below main image */

.infoTop{
    display: flex;
    border-top: 2px solid rgb(128, 128, 128);
    text-align: center;
}

h3{
    font-size: xx-large ;
}

.smart{
    color: rgb(14, 30, 49);
}

.strong{
    color: rgb(14, 30, 49);
    padding: 0px 10px 0px 10px;  
    border-left: 2px solid rgb(128, 128, 128); 
    border-right: 2px solid rgb(128, 128, 128);
}

.stable{
    color: rgb(14, 30, 49);
    padding: 10px;
}

p{
    color: rgb(169, 169, 169);
}

/* Positioning and coloring of buttons below main content */

.moreButton{
    background-color: rgb(33, 51, 73);
    color: white;
    font-weight: 300;
    padding: 10px;
    border-radius: 15%;
    border-color: rgb(33, 51, 73);
    width: 15%;
    height: 13%;
}

/* Positioning and coloring of bottom half of main content */

.infoBottom{
    display: flex;
    background-color: rgb(19, 30, 41);
    color: white;
    justify-content: center;
    height: max-content;
}

.services{
    padding-left: 40px;
    flex: 3;
}

.services ul{
    list-style: "⚙️";
}

.services li{
    color: rgb(169, 169, 169);
}

.opportunities{
    padding-right: 300px;
    flex: 2;
}

.opportunities ul{
    list-style: "🗨️";
}

.opportunities p{
    font-size: larger;
}

.news{
    flex: 3;
    padding-right: 120px; ;
}

strong{
    color: white;
}

.date1{
    list-style-image: url(../images/Date1.png);
}

.date2{
    list-style-image: url(../images/Date2.png);
    
}

.date3{
    list-style-image: url(../images/Date3.png);
}

/* Positioning and coloring of buttons below the bottom half of main content */

.moreButton2{
    background-color: rgb(33, 51, 73);
    color: white;
    font-size: 20px;
    border-radius: 15%;
    border-color: rgb(33, 51, 73);
    margin-top: 287px;
    width: 25%;
    height: 8%;
}

.moreButton3{
    background-color: rgb(33, 51, 73);
    color: white;
    font-size: 20px;
    border-radius: 15%;
    border-color: rgb(33, 51, 73);
    margin-top: 220px;
    margin-bottom: 62px;
    width: 37%;
    height: 8%;
}

.moreButton4{
    background-color: rgb(33, 51, 73);
    color: white;
    font-size: 20px;
    border-radius: 15%;
    border-color: rgb(33, 51, 73);
    margin-top: 200px;
    width: 25%;
    height: 8%;
}

/* Bottom of the page */

footer{
    display: flex;
    background-color: rgb(14, 30, 49);
    padding-left: 45px;
}

footer > p{
    color: white;
}